<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Crop Production</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="a" placeholder="District" required="required" />
      <input type="text" name="b" placeholder="Year" required="required" />
		  <input type="text" name="c" placeholder="Season" required="required" />
      <input type="text" name="d" placeholder="Crop" required="required" />
      <input type="text" name="e" placeholder="Area" required="required" />
      <input type="text" name="f" placeholder="Rainfall" required="required" />
      <input type="text" name="g" placeholder="Temperature" required="required" />
 
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
